aside {
position: absolute;
float: right;
top: 0;
right: 0;
}
header {
background-color: #F5F5DC;
}
footer {
background-color: #DCDCDC;
bottom: 0;
width: 100%;
height: 2.5rem;
}
nav {
background-color: #dbcaca;
}
.nav {
  list-style-type: none;
}
.nav li {
  display: inline-block;
}

.Skills {
background-color:#cfbc9f;
border: 2px dotted;
}
.mySkills {
float: right;
position: absolute;
top: 0;
right: 0;
width: 200px;  
}
h3 {font-family: "Lucida Console", "Courier New", monospace;
  padding: 5px;
}
h1 {border: 2px solid #FFEBCD;
font-family: "Lucida Console", "Courier New", monospace;
background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
padding: 5px;}

a:hover, a:active {
background-color:#5F9EA0;
}
h2 {border-bottom: 2px dotted #FFEBCD;
font-family: "Lucida Console", "Courier New", monospace;
}
p {font-family: "Lucida Console", "Courier New", monospace;}
#contact {
color: black;
padding: 5px;
text-align: left;
}
ol{font-family: "Lucida Console", "Courier New", monospace;}
ul{font-family: "Lucida Console", "Courier New", monospace;}

#hp {float: right;    
margin: 0 0 0 15px;
border-radius: 50%;
}

