aside {
position: absolute;
right:0;
display: block;
background-color:#cfbc9f;
float: right;
}
header {
background-color: #F5F5DC;
}
footer {background-color: #DCDCDC;
}
#contact {
background-color:#DCDCDC;
color: black;
padding: 40px;
text-align: left;
}

background-color: #DCDCDC;
}
nav {
background-color: #dbcaca;
}
.nav {
  list-style-type: none;
}
.nav li {
  display: inline-block;
}
.mySkills {
position: absolute;
top: 10px;
right: 10px;
float:right;
height: 600px;
width: 300px;  
border: 2px dotted;
background-color:#cfbc9f;
}
h3 {font-family: "Lucida Console", "Courier New", monospace;
  padding: 5px;
}
h1 {border: 2px solid #FFEBCD;
font-family: "Lucida Console", "Courier New", monospace;
background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
padding: 5px;}
a:hover, a:active {
background-color:#5F9EA0;
}
h2 {border-bottom: 2px dotted #FFEBCD;
font-family: "Lucida Console", "Courier New", monospace;
p {font-family: "Lucida Console", "Courier New", monospace;}
.mySkills {
position:absolute;
right:0;
height: 400px;
width: 200px;  
border: 2px dotted;
background-color:#cfbc9f
}
ol{font-family: "Lucida Console", "Courier New", monospace;
}
body {
margin: 60px auto;
width: 70%;
font-family: "Lucida Console", "Courier New", monospace;}
background-color:#F4f4f4;
}

article {
float: left;
padding-bottom: 10px;
width: 80%;
clear: both;
}
section::after {
display: table;
clear: both;
}

aside {
width: 20%;
float: right;
background-color:#E8E2DF;
margin:10px;
padding-left: 20px;
padding-top: 10px;
adding-bottom: 10px;
clear: both;
}

.mySkills {
position: absolute;
top: 800px;
right: 400px;
width: 330px;
}

.myInterests {
position: absolute;
top: 1200px;
right: 400px;
width: 330px;
}

ul{font-family: "Lucida Console", "Courier New", monospace;
list-style-type: none;
  
}
img {
float: right;
border-radius:50 %}

article {
position: relative;
}
